@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #000000; /* Tam Siyah */
  --bg-card: #1C1C1E; /* Apple stili koyu gri kartlar */
  --accent: #FFD60A;  /* Canlı Sarı */
}

body {
  background-color: var(--bg-main);
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Scrollbar'ı gizle (Daha şık durması için) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Input stilleri */
input, select, textarea {
  background-color: #2C2C2E !important;
  color: white !important;
  border: none !important;
  border-radius: 12px !important;
}