@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 249, 250, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Giriş kutularının yazı rengini garantiye alalım */
input, textarea, select {
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #e5e7eb;
}